//=============== VARIABLES ===============
$body-font-family: "Roboto", serif
$action: red
$primary: white
$secondary: black
$primary-font-size: 1.4rem
$primary-height: 200px
$secondary-height: 900px

//=============== STRUCTURE ===============
html
  height: 100%
  margin: 0
  font-size: 62.5%

body
  background-color: black
  height: 100%
  font-size: 1.6rem

.wrapper
  max-width: 1440px
  padding-left: 180px
  padding-right: 180px

//=============== HEADER & NAV  ===============
header
  background-image: url("../img/header.svg")
  height: 80px
  width: 100%

  img
    height: 80px

a
  color: white
  font-size: .8rem
  text-decoration: none
  font-style: normal

nav
  float: right

ul li
  float: left
  padding-top: 32px
  padding-left: 1.8rem

  &:nth-of-type(1)
    text-decoration: underline
    color: red

  a
    color: white
    font-size: $primary-font-size
    text-decoration: none
    font-style: normal

//=============== SEARCH BAR ===============
.cover
  background-image: url("../img/marvel.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: $primary-height

.search
  display: block
  padding-top: 40px

form
  text-align: center

  input
    height: 3rem
    width: 860px

  &::-webkit-input-placeholder
    color: #999
    font-weight: normal
    font-style: italic

  button
    height: 40px
    width: 110px
    color: white
    text-transform: uppercase
    display: inline-block
    border: 0
    background-color: black

//=============== RESULTS ===============
#resultsContainer
  padding-top: 20px
  height: $secondary-height
  margin: 0 auto

  h1
    background-color: white
    margin-bottom: 10px
    font-size: 3rem
    padding: .625rem .9375rem .625rem .625rem
    clear: both

.wrapper
  article
    height: 300px
    width: 200px
    background-color: white
    margin: 10px 5px 80px 4px
    display: block
    float: left

    img
      width: 100%
      height: 100%

    a
      font-size: 1.6rem
      text-transform: uppercase
      margin-bottom: .5rem
      display: block
      padding-top: .5rem

    p
      color: white
      background-color: black
      font-size: 1.6rem
      text-transform: uppercase
      display: block
      margin-bottom: 4rem

//=============== FOOTER ===============
